#include <windows.h>

#define IDI_APPICON  102

IDI_APPICON ICON "app.ico"

1 24 "app.manifest"

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x40004
FILETYPE 0x1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "FileDescription", "CodeBreak - Binary Analysis Suite"
      VALUE "InternalName", "CodeBreak"
      VALUE "OriginalFilename", "CodeBreak.exe"
      VALUE "ProductName", "CodeBreak"
      VALUE "ProductVersion", "1.0.0.0"
      VALUE "FileVersion", "1.0.0.0"
      VALUE "LegalCopyright", ""
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
